html,body {
  margin: 16px;
  display: flex;
  flex-wrap: wrap;
  background-color: black !important;
  color: white !important ;
  font-family: 'Times New Roman', Times, serif !important;
  justify-content: center;
  align-items: center;
}
.heading {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  
}
.task{
  text-decoration: underline;
}
.data-values {
  display: flex;
  flex-wrap: wrap;
}
.card {
  padding: 10px;
  margin: 12px; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: hsla(210, 13%, 50%, 1);
  background: linear-gradient(270deg, hsla(210, 13%, 50%, 1) 30%, hsla(0, 0%, 96%, 1) 100%);
  background: -moz-linear-gradient(270deg, hsla(210, 13%, 50%, 1) 30%, hsla(0, 0%, 96%, 1) 100%);
  background: -webkit-linear-gradient(270deg, hsla(210, 13%, 50%, 1) 30%, hsla(0, 0%, 96%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#708090", endColorstr="#F5F5F5", GradientType=1 );
}
.card-img-top {
  width: 100px;
  height: 150px;
  margin-bottom: 20px
  ;
}
.card:hover {
  cursor: pointer;
  background: white;
}