html , body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: black;
    align-content: center ;
}
.card{
    border: 2px solid white;
    justify-content: center;
    width: 700px;
    height: 500px;
    
}

.text{
   
    font-weight: bolder;
    font-size: 50;
}